/* .main {
    display: flex;
  
  }
  .mainPage {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .container {
    width: 1215px;
    margin: 0 auto;
    
  }
  
  
  h2{
    
    width: 159px;
    height: 38px;
    font-size: 28px;
    line-height: 38px;
    transform: translateX(170px);
  }
  .cards {
    height: 332px;
    display: flex;
  
  }
  
  .cardsImg{
    width: 350px;
    height: 220px;
  }
  .cardsImgs{
    width: 200px;
    height: 225px;
  }
  
  .square{
    transform: translateX( -190px) translateY(250px);
    margin-right: 8px;
    width: 40px;
    height: 40px;
    background: #F7F7FC;;
    border-radius: 6px;
  
  }
  .descripCards{
    margin-left: -88px ;
  }
  
  .descripCards h3{
    font-size: 20px;
    line-height: 30px;
    width: 415px;
    height: 45px;
  }
  .descripCards span {
    font-size: 14px;
    line-height: 18px;
    color: #A4A2AF;
    width: 363px;
    height: 18px;
    
  }
  .starCards {
    width: 250px;
    height: 20px;
  }
  .iconOneCards {
    background: url('/src/img/star.png') ;
    list-style: none;
    width: 21px;
    height: 20px;
    display: inline-block;
  }
  
  .iconTwoCards {
    background: url('/src/img/Icon.png') ;
    width: 16px;
    height: 21px;
  }
  .buttons h3 {
    font-size: 24px;
    line-height: 35px;
    width: 136px;
    height: 34px;
    transform: translateY(-5px);
  
  }
  .buttonCards{
    width: 145px;
    height: 50px;
    background: #F9FC62;
    border-radius: 12px;
    border: none;
    display: flex;
    justify-content: center;
  }
  .buttonCards p {
    transform: translateY(-8px);
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    width: 95px;
    height: 24px;
  
  
  }
  .deleteBtn {
    margin-left:30px ;
  }
  .iconTwoCards p{
    font-size: 18px;
    line-height: 24px;
    color: #605D74;
    width: 73px;
    height: 24px;
    margin-left: 25px ;
  }
  
  .lineCards{
    width: 1215px;
    height: 1px;
    background: rgba(33, 33, 33, 0.08);
    margin-top: 50px;
  
  }
  .starCards  {
    position: relative;
  }
  .starCards span{
    position: absolute;
    left:153px;
    top: 2px;
    color: #0B1124;
    font-size: 16px;
  } */
  
.Favorite {
  max-width: 1440px;
  min-width: 300px;
}

.Otzivy {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-left: 60px;
}
.Otzivy .img-otzivov {
  display: flex;
}
.Otzivy .img-otzivov img {
  width: 16px;
  height: 18px;
}
.Otzivy p {
  color: #0B1124;
  font-size: 16px;
}

.container {
  display: flex;
  margin: auto 0;
}

.phone {
  margin-right: 130px;
  margin-left: 20px;
}

.Izbrannoe {
  margin-left: 130px;
  font-size: 28px;
  line-height: 38px;
}

.datails p span {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #83828c;
  margin-left: 10px;
}
.datails p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #000000;
  margin-left: 10px;
}

.datails {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  max-width: 1440px;
  min-width: 300px;
}

.card {
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  min-width: 300px;
}

.add {
  cursor: pointer;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  width: 145px;
  height: 50px;
  background: #fbff00;
  border-radius: 12px;
  border: none;
} 

.remove {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}


@media(max-width: 1150px){
    .phone {
      margin-left: -80px;
      margin-right: -20px;
    }
    .buttons {
      flex-direction: row;
    }
}

@media(max-width: 902px){
  .container {
    flex-direction: column;
  }
  .buy-remove {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    transform: translateX(-30px);
  }
  .add {
    margin-left: 0;
  }
  .remove {
    margin-left: 0;
  }
}

@media(max-width: 456px){
  .phone img {
    width: 83%;
  }
  .Title h2 {
    font-size: 18px;
  }
  .Title h2 span {
    font-size: 18px;
  }
  .Title {
    width: 60%;
    margin-left: 10px;
  }
}

@media(max-width: 380px){
  .datails p span {
    font-size: 14px;
    margin-left: 10px;
  }
  .datails p {
    font-size: 10px;
    margin-left: 10px;
  }
  .phone {
    margin-left: 10px;
  }
}
